@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cadastrar Aluno";

    if (TempData["MsgErro"] != null)
    {
        <div class="alert-error">
            @TempData["MsgErro"]
        </div>
    }
    if(TempData["MsgSucesso"] != null){
        <div class="alert-success">
            @TempData["MsgSucesso"]
        </div>
    }
}
@model Aluno

<style>
    body{
        color: #f0f0f0;
       
    }
    .tituloCadastro{
        padding-top: 30px;
        text-align: center;
        font-size: 50px;
    }
    .btn-primary{
        width: 15%;
    }
    .btn-dark{
        margin-top: 20px;
    }
</style>
<h1 class="tituloCadastro">Cadastrar Aluno</h1>
<br />
<br />
<form asp-controller="Aluno" asp-action="InserirAluno" method="post">
    <!-- ... seus campos de formulário ... -->
   
<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" id="formGroupExampleInput" placeholder="Nome">
</div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Idade</label>
        <input type="text" asp-for="Idade" class="form-control" id="formGroupExampleInput" placeholder="Idade">
    </div>
<div class="row g-3">
    <div class="col-md-4">
        <label for="validationDefault02" class="form-label">CEP</label>
        <input type="text"  asp-for="Cep" class="form-control" id="validationDefault02" >
    </div>
    <br/>
    <br/>
        <button type="submit" class="btn btn-dark">Cadastrar!</button>
</form>