@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="tituloHome">Bem vindo escola de programação JP!</h1>
</div>

<br />
<div class="mainIndex">
    <div class="indexUm">
        <div class="cardApresentacao">
            <img src="https://blog.me.com.br/wp-content/uploads/2019/01/LEO-e1590513003825.jpg" class="cardImg" alt="...">

            <div class="card-body">
                <h5 class="card-title">O melhor curso de programação do Brasil!</h5>
                <p class="card-text">O curso JovemProgramador possui  uma metodologia única, com foco no mercado e na resolução de problemas reais.</p>
                <a href="https://localhost:7168/Cadastro/Cadastro" id="btnMatricula" class="btn btn-primary">Matrícule-se já!</a>
            </div>
        </div>
    </div>
    <div class="indexDois">
        <div class="cardApresentacao">
            <img src="https://www.insper.edu.br/wp-content/uploads/2023/04/Linguagen-de-programacao-2-shutterstock_1680857539.jpg.jpeg" class="cardImg" alt="...">

            <div class="card-body">
                <h5 class="card-title">Trilha de aprendizado dinâmica!</h5>
                <p class="card-text">Nosso curso conta com materias e laboratórios de última geração!</p>
                <a href="https://localhost:7168/Conhecimento/Conhecimento" id="btnTrilha" class="btn btn-primary">Conheça nossa trilha!</a>
            </div>
        </div>
    </div>
    <div class="indexTres">
        <div class="cardApresentacao">
            <img src="https://forum.pt/images/Imagem_artigo_21-07.jpg" class="cardImg" alt="...">

            <div class="card-body">
                <h5 class="card-title">Professores super preparados!</h5>
                <p class="card-text">Nossa equipe conta com professores com muita experiência de mercado.</p>
                <a href="https://localhost:7168/Professor/Professor" id="btnProfessores" class="btn btn-primary">Conhecer professores!</a>
            </div>
        </div>
    </div>
    <div class="indexQuatro">
        <div class="cardApresentacao">
            <img src="https://lets.events/blog/wp-content/uploads/2023/01/programacao.jpg" class="cardImg" alt="...">

            <div class="card-body">
                <h5 class="card-title">Estude onde quiser!</h5>
                <p class="card-text">Seja presencial ou on-line, você terá suporte e acesso a tudo que nosso curso tem a oferecer e fará contato com pessoas de todo o país!</p>
                <a href="https://localhost:7168/Aluno/Aluno" id="btnAlunos" class="btn btn-primary">Conheça alguns de nossos alunos!</a>
            </div>
        </div>
    </div>
</div>

