@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Trilha de aprendizado";
}
<style>
    .tituloTrilha {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
</style>
<h1 class="tituloTrilha">Tudo que que você irá aprender!</h1>
<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Lógica de programação</div>
            Domine os algoritmos!
        </div>
        <span class="badge bg-primary rounded-pill"></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Backend - C#</div>
            Seja um mestre do .NET Framework!
        </div>
        <span class="badge bg-primary rounded-pill"></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">T-SQL</div>
            Banco de dados como você nunca viu!
        </div>
        <span class="badge bg-primary rounded-pill"></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Frontend</div>
            Do HTML/CSS até os frameworks mais avançados de JavaScript!
        </div>
        <span class="badge bg-primary rounded-pill"></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">LinkedIn e portifóflio.</div>
            Chame a atenção do mercado e consiga sua primeira vaga!
        </div>
        <span class="badge bg-primary rounded-pill"></span>
    </li>
</ol>
<br />
<br />
<a href="https://localhost:7168/Cadastro/Cadastro" id="btnTrilha" class="btn btn-primary">Está esperando o que? Matrícule-se já!</a>